
{% block content %}
    <div class="iLogoContainer">
        <div class="iLogo">
            <h2>iUser</h2>        
        </div>
    </div>
    <div class="iNavContainer">
        <ul class="iNav">
            <li><a href="{%url 'imainHome' %}">Home</a></li>
            <li><a href="{% url 'imainPortfolio' %}">Portfolio</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">Feed</a></li>
            <li><a href="">Clips</a></li>
        </ul>
    </div>

{% endblock content %}