{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Useri</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <header>
        <h3>User</h3>
        <h2>i</h2>
        <span class="logo">!iMportance iS uP tO yOu!</span>
        <ul>
            <li><h1><a href="{% url 'iLogin' %}">Login</a></h1></li>
            <li class="Register"><h2><a href="{% url 'iRegister' %}">Register</a></h2></li> 
        </ul>
    </header>
    <hr>
    <br>
    <div>
        <ul>
            <li><a href="{% url 'Core' %}"</li>
        </ul>
    </div>
</body>
</html>